@font-face {
    font-family: coco;
    src: url(TestTheFuture-Bold-BF664581770dc3e.otf);
}

@font-face {
    font-family: coco2;
    src: url(TestTheFutureMono-Regular-BF664581770acd7.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: coco2;
}

body {
    background-color: rgb(255, 241, 187);
    height: 100vh;
    width: 100%;
}

.container {
    z-index: 3;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    place-content: center;
}


.content {
    position: relative;
    height: 90%;
    width: 85vw;
    margin: 1em;
    border: 1px solid #1e1e1e;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    flex: 1;

}

.spnz {
    margin-right: 6em;
    text-align: end;
}

#player {
    font-size: 14px;
}

#player-name {
    text-transform: capitalize;
}

h1 {
    font-family: coco;
    text-align: center;
    font-size: 2.2em;
}

h3 {
    text-align: center;
    margin: 0.4em;
    font-size: 1.4em;
}

.header p {
    text-align: center;
}

/*------------------Climax----------------------------------*/
.climax {
    flex: 1;

}

.options {
    display: flex;
    justify-content: center;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1em;
    border: 4px solid rgb(255, 241, 187);
}

.box button {
    background-color: #1e1e1e;
    color: rgb(255, 241, 187);
    margin-left: 0.7em;
    font-size: 10px;
    cursor: pointer;
}

.box input {
    text-align: center;
}
/*----------------------FOOOTER---------------------------------*/
.footer {
    flex: 1;

}

.nav-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.util {
    display: flex;
    width: 100%;
    justify-content: center;
}

.clue {
    flex: 1;
    padding-left: 1em;
    margin-top: 2em;
}

.cluet {
    font-size: 10px;
    background-color: #1e1e1e;
    color: rgb(255, 241, 187);
    padding: 0.5em;
    border-radius: 5px;
    transition: 1s ease;
    opacity: 0;
    width: 70%;
}

.cluet br {
    display: none;
}

.fa-question {
    padding: 0.5em 0.7em 0.5em 0.7em;
    border: 1px solid #1e1e1e;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.8s ease;
}

.fa-question:hover {
    color: rgb(255, 241, 187);
    background-color: #1e1e1e;
    border: none;
}

.bttnH {
    flex: 1;
}

.hint {
    opacity: 0;
    text-align: center;
}

.hint br {
    display: none;
}

.answer {
    margin: 0 auto;
    padding: 0.4em;
    border: 1px solid #1e1e1e;
    margin-bottom: 1em;
    transition: 1s;
    width: 160px;
}

.answer:hover {
    background-color: #1e1e1e;
    color: rgb(255, 241, 187);
}

.idky {
    flex: 1;
}

.arrows a {
    text-decoration: none;
    color: #1e1e1e;
    font-size: 1.8em;
    cursor: pointer;
}

.circles {
    display: flex;
    justify-content: center;
    margin-top: 0.3em;
}

.dot1 {
    animation: dot1 4s infinite ease;
}

.dot2 {
    animation: dot2 4s infinite ease;
}


/*------------------------options section------------------------------*/

/*---------------------------------Blur background--------------------------------*/
canvas {
    height: 500px;
    width: 500px;
    margin-top: -8em;
    margin-left: -8em;
    background: linear-gradient(300deg, #fe4124, #6520a1, #8969fe);
    border-radius: 50%;
    animation: grady 8s linear infinite;
    background-size: 400% 400%;
}

.glassy-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(90px);
    backdrop-filter: blur(90px);
    pointer-events: none;
}

/* ---------------------------------animations------------------------------------------ */
@keyframes grady {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes apinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes dot2 {
    0% {
        padding-left: 0;
    }

    50% {
        padding-left: 2em;
    }

    100% {
        padding-left: 0;
    }
}

@keyframes dot1 {
    0% {
        padding-right: 0;
    }

    50% {
        padding-right: 2em;
    }

    100% {
        padding-right: 0;
    }
}

/*-----------------------------------MEDIA QUERIES------------------------------------*/


@media(max-width: 480px) {
    canvas {
        height: 300px;
        width: 300px;
        margin-top: -3.5em;
        margin-left: -1em;
    }
 

    .spnz {
        text-align: center;
        margin: 0;
    }

    h1 {
        font-size: 1.4em;
    }

    .box {
        font-size: 1em;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-bottom: 1.5em;
    }

    .climax {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .hint {
        text-align: center;
        ;
    }
}

@media(max-width:400px) 
{
    .circles {
        font-size: 0.7em;
        margin-top: 0em;
        margin-bottom: 0.4em;
    }
    .header p {
        font-size: 12px;
    }
    .box {
        font-size: 0.9em;
    }

}


@media(max-width: 380px) {
    #player {
        font-size: 12px;
    }

    h1 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    .header p {
        font-size: 12px;
    }

    .box {
        font-size: 0.8em;
    }
    .box img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    
    }
    .clue {
        padding-left: 0.5em;
    }

    .fa-question {
        font-size: 0.8em;
    }

    .hint {
        font-size: 11px;
    }

    .answer {
        font-size: 14px;
        text-align: center;
        width: 100%;
        margin-bottom: 0.4em;
    }

    .circles {
        font-size: 0.7em;
        margin-top: 0em;
        margin-bottom: 0.4em;
    }
}

@media (max-height:500px) {
    h1 {
        margin-top: 0.2em;
        font-size: 1.4em;
    }

    .spnz {
        margin-top: 3.4em;
        margin-right: 0.1em;
        text-align: center;
        font-size: 0.4em;
    }

    #player {
        font-size: 10px;
    }

    h3 {
        font-size: 1em;
    }

    .content p {
        font-size: 0.7em;
    }

    .options {
        font-size: 0.6em;
    }

    .icons {
        font-size: 0.7em;
    }

    .clue {
        margin-bottom: 6em;
        font-size: 0.7em;
    }

    .cluet {
        font-size: 8px;
    }

    .hint {
        font-size: 0.6em;
        opacity: 0;
    }

    .answer {
        border: 1px solid #1e1e1e;
        margin: 0.6em;
        font-size: 0.7em;
    }

    .nav-options {
        margin-top: 1.7em;
    }

    .arrows {
        font-size: 0.8em;
    }

    .circles {
        font-size: 0.7em;
    }
}

@media (max-height:400px) {
    h1 {
        margin-top: 0.2em;
        font-size: 1em;
    }

    .spnz {
        margin-top: 3.4em;
        margin-right: 0.1em;
        text-align: center;
        font-size: 0.2em;
    }

    h3 {
        font-size: 1em;
    }

    .content p {
        font-size: 0.7em;
    }

    .options {
        font-size: 0.6em;
    }

    .icons {
        font-size: 0.7em;
    }

    .clue {
        margin-bottom: 6em;
        font-size: 0.7em;
    }

    .cluet {
        font-size: 8px;
    }

    .hint {
        font-size: 0.5em;
        opacity: 0;
    }

    .answer {
        border: 1px solid #1e1e1e;
        margin: 0.6em;
        font-size: 0.7em;
    }

    .nav-options {
        margin-top: 1.4em;
    }

    .arrows {
        font-size: 0.8em;
    }

    .circles {
        font-size: 0.5em;
    }
}